/* Elements */
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-image: url("/images/bg_tech.jpg");
    background-size:auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 25px;
}

/* Navigation menu styles */
nav {
    text-align: center;
    border-top: 3px double #333;
    border-bottom: 3px double #333;
    padding: 5px;
    background-color: whitesmoke;
    justify-content: space-between;
}

nav a {
    margin-left: 50px;
    margin-right: 50px;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/bg_tech.jpg"); 
    color: #333;
}        

main {
    /* max-width: 80vw; */
    max-width: 1200px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    flex-direction: column;
}

img {
    text-align: center;
}

button {
    font-weight: bold;
}

/* Footer styles */
footer {
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    padding: 35px;
}

/* Classes */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.center {
    text-align: center;
    /* margin: 0 auto; */
    /* padding: 40px; */
}

.images {
    text-align: center;
}

.collapsible {
    background-color: whitesmoke;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgb(234, 231, 231);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: whitesmoke;
}

/* Call-to-action button styles */
.cta-nav {
    text-align: center;
}

.cta-nav a {
    margin-left: 20px;
    margin-right: 20px;
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.credits {
    font-size: 10px;
}

/* Responsive styles */
/* @media screen and (max-width: 768px) 
nav ul {
    display: none;
    } */
    
/* IDs */
#about-img {
        width: 70vw;
        margin: auto;
}